a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(215, 149, 48);
}

#add-new-product{
    /* margin-top: 10px; */
    background-color: rgb(215, 149, 48);
    border-radius: 4px;
    padding: 5px;
    color: white;
}

#add-new-product:hover{
    background-color: rgb(255, 115, 0);
}